/* Navbar */
#about-container{
  background-color:  rgb(75, 72, 72)
}
.navbar ul li { 
	padding: 0px 20px; 
 } 
.navbar {
  position: fixed;
  width: 100%;
  background-color: #545454;
}
.nav_blue {
  background-color: transparent;
}

.navbar-nav li:hover>.dropdown-menu{
  display: block;
}
.dropdwnleft{
  top: 0;
  left: 100%;
  margin-top: -5px;
}
#nav-link {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 20px;
  align-items: center;
  font-family: 'Josefin Slab', serif;
  
}
.dropdown-item{
  line-height: 20px;
  align-items: center;
  font-family: 'Josefin Slab', serif;
  font-size: 12px;
}
#navbar-btn {
  background-color: red;
  color: white;
}
#navbar-btn i {
  color: white;
  font-size: 15px;
}

/* footer */
#fotterh4 {
  font-size: 28px;
  color: red;
}
#footer p i {
  color: red;
}
#social-links h4 {
  border-bottom: 2px solid white;
  text-align: center;
  width: 85%;
  font-size: 1.5rem;

}
#social-links h4:hover {
  color: red;
  border-bottom: 2px solid red;
}
#social-links i {
  color: red;
  font-size: 22px;
}
#social-links i:hover {
  color: white;
}
#footerlinks p:hover {
  color: red;
}
#footerlinks i:hover {
  color: red;
}
#footer i:hover {
  color: red;
}
#footer p:hover {
  color: red;
}
#footer-logo {
  background-color: gray;
}
#footer-logo1 {
  display: flex;
  padding-top: 5px;
  margin-left: -4rem;
}
#client {
  width: 55%;
}
#google {
  width: 80%;
  padding-top: 3px;
  margin-left: -8rem;
}
#footer-logo-p {
  display: flex;
  justify-content: space-between;
  margin-left: -3.5rem;
  color: white;
}
#footer-logo-p p {
  padding-right: 10px;
}
#footer-term-div {
  display: flex;
}
#footer-term-div2 {
  margin-top: -3rem;
  margin-right: -6rem;
}
#footer-logo-p p:hover {
  color: red;
}

/* about */
@media only screen and (max-width:"767px"){
  .about_section-2 {
    text-align: center;
  }
}
.about_section {
  background-color: black;
}
.about-btn {
  border: 2px solid #222222;
  color: white;
  border-radius: 8px;
  width: 100%;
}
.dot-cercle {
  color: red;
  font-size: 15x;
}
.about-p {
  color: white;
  padding-top: 20px;
  font-size: 15px;
  text-align: center;
}
.about-crousal {
  color: white;
}
.carousel-h {
  font-size: 3.2rem;
}
.chack {
  color: red;
  font-size: 15px;
  font-weight: 400px;
}
.about-paragraph {
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.about-count-h {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  line-height: 30px;
  font-size: 35px;
}
.about-counter-row {
  text-align: center;
  border: 2px solid #222222;
  border-radius: 5px;
}
.about-counter-p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
  color: white;
  line-height: 30px;
}
/* services */
.Our-service {
  background-color: #E8E8E8;
}
.viewbtn {
  border: none;
  outline: none;
  color: white;
  background-color: black;
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
  line-height: 30px;
  text-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
  border-width: 0px 0px 0px 0px;
  border-color: #FFFFFF;
  -radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 20px 0px rgb(177 89 105 / 20%);
  padding: 10px 20px 10px 20px;
}
.viewbtn:hover {
  background-color: red;
}
.service-btn {
  text-align: center;
  align-items: center;
}
.service-h2 {
  font-size: 4em;
  font-family: "Montserrat", Sans-serif;
  line-height: 1.2em;
  font-weight: 600;
}
.service-p {
  color: #545454;
  font-family: "Josefin", Sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
}
.overlay {
  position: absolute;
  bottom: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  display: block;
  height: 0;
  transition: .5s ease;
}
.service-card {
  height: 410px;
}
.service-card:hover .overlay {
  height: 100%;
}
.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  font-family: "Josefin", Sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  text-align: center;

}
.service-title h4 {
  text-align: center;
  font-family: "Josefin Sans", Sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.overlay-btn {
  font-size: 1rem;
  line-height: 28px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
  border-width: 0px 0px 0px 0px;
  border-color: #FFFFFF;
  padding: 10px 20px 10px 20px;
}
.overlay-btn:hover {
  background-color: rgb(109, 107, 107);
  color: white;
}

/* works */

#works{
  background-color: #060709;
}
#heroTag h1 {
  color: white;
  font-size: 5em;
}
.works{
  background-color: black;
  height: 300px;
  transition: ease-in-out 2s;
  background-position: top;
}
.works.works1{
  background: url(../src/images/United-Tools.jpg);
  background-size: cover;
}
.works.works2{
  background: url(../src/images/dal.jpg);
  background-size: cover;
}
.works.works3{
  background: url(../src/images/Coburns-Rise.jpg);
  background-size: cover;
}
.works.works4{
  background: url(../src/images/RG-Land.jpg);
  background-size: cover;
}
.works.works5{
  background: url(../src/images/Sunshine-Collectables.jpg);
  background-size: cover;
}
.works.works6{
  background: url(../src/images/TIC-Group.jpg);
  background-size: cover;
}
.works.works7{
  background: url(../src/images/Carrabbas-Group.jpg);
  background-size: cover;
}
.works.works8{
  background: url(../src/images/Darebin-Gas.jpg);
  background-size: cover;
}
.works:hover{
  background-position: bottom;
}
  
.overlay1 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  opacity: 1;
}
.view-btn{
  font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color:red;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 25px 10px 25px;
    max-width: 100%;
    width: auto;
}


/* customer feedback */

#Heading {
  text-align: center;
  align-items: center;
  color: #fff;
}
#titlebtn {
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.5em;
  font-family: bold;
}
#content {
  color: white;
  text-decoration: chocolate;
  align-items: center;
  font-size: 1em;
  line-height: 2;
  padding: 1em;
}
#customername {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background:#060709;
  opacity: 0.7;
}
.album-img img {
  transition: .4s;
}
.album-title h3 {
  font-size: 16px;
  color: #fff;
}
.album-title {
  transition: .5s;
}
#true-circle{
  color: red;
}

/* service delevery */
#service-delivery {
  background-color: rgb(230, 232, 236);
}
#service-delivery h5 {
  text-align: center;
  padding-top: 2rem;
}
#service-delivery h5 i {
  padding-right: 5px;
  color: red;
}
#service-delivery h1 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  font-size: 43px;
}
.logo {
  width: 70%;
  margin-bottom: 30px;
  filter: grayscale(1);
}
.logo:hover {
  filter: none;
}
.Service-delivary-1{
  text-align: center;
}

/* mmw-front */
.front-banner {
  background-image: url("./images/front-banner.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat,repeat;
  background-size: cover;
}
.mmw-logos-1{
  text-align: center;
}
.project{
  width: 100%;
  background-color: #000000D1;
}
.project .heading .heading-info1 {
  color: #FFFFFF;
  font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}
.project .heading p{
  font-size: 26px;
  font-family: "Montserrat", Sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  color: #FFFFFF;
}
.heading-button .get-quits{
  font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
    fill:#060709;
    color:#060709;
    background-color:#FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 20px 0px rgb(177 89 105 / 20%);
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
}
.Team{
  margin: 0px 0px -17px 0px;
  font-size: 46px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.3em;
  font-family: "Josefin Sans", Sans-serif;
}
.Team1{
  font-family: "Josefin Sans", Sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
}


/* about */

.paragraph h1{
  font-family: "Montserrat", Sans-serif;
  line-height: 1.2em;
  font-size: 22px;
  font-weight: 500;
  color: white;
}
.hr{
  width: 5%;
  background-color: red;
  text-align: left;
  padding: 1px;
  margin-left: 0px;
  margin-top: 5px;
}
.paragraph h2{
  font-family: "Montserrat", Sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}
.main-heading h2{
  color: black;
    font-family: "Montserrat", Sans-serif;
    line-height: 1.3em;
    font-weight: bold;
    font-size: 5rem;
}
.main-heading1 h4{
  color: black;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.8em;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
.main-heading2 p{
  color: #545454;
  font-family: "Josefin Sans", Sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5em;
}
.our-story{
    font-weight: 600;
    line-height: 1.2em;
    font-family: "Montserrat", Sans-serif;
    color: black;
    font-size: 5rem;
}
.our-story-p{
  color: #545454;
  font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}
.vedio-text h2{
  font-weight: 600;
    line-height: 1.2em;
    font-family: "Montserrat", Sans-serif;
    color: #222222;
    font-size: 3rem;
}
.vedio-text p{
  color: #545454;
  font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
    object-fit: cover;
}
.vedios-section { position:relative; }
.vedios-section video {
    position:relative;
    z-index:0;
}
.vedio-text {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.elementor-background-video-container{
  transition: opacity 1s;
    pointer-events: none;
}
.elementor-background-video-hosted{
  height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    direction: ltr;
    object-fit: cover;
}
.vedio-portfolio{
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 11%);
}
.input:focus{
  outline: none;
}

.autoscroll{
  background-color: black;
  height: 300px;
  transition: ease-in-out 2s;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}


 
