h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    background: transparent;
}

a {
    letter-spacing: initial;
}

.container {
    max-width: 1200px !important;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}



@media only screen and (max-width:768px) {
    .home-main-div {
        padding-top: 115px !important;
    }
   
}

@media only screen and (max-width:1024px) {

    /* navbar-section */
    #nav-link {
        font-size: 18px !;
    }

    #navbar-btn {
        font-size: 15px !important;
    }

    #navbar-btn i {
        font-size: 15px !important;
    }

    .dropdown-item {
        font-size: 16px !important;
    }

    /* .navbar ul li {
        padding: 0px 11px 0px 11px !important;
    } */
}

@media only screen and (max-width:1250px) {}

@media only screen and (min-width:1280px) and (max-width:5000px) {
    #navbar .container {
        padding: 0% 5% 0% 5%;
        max-width: 5000px !important;
    }
}

@media only screen and (max-width:991px) {
    #navbar .container {
    
        padding-left: 15px;
    }

    #nav-link {
        font-size: 16px !important;
    }

}


.home-main-div {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.home-vedio {
    
    width: 100%;
    background-size: cover;
}


/* Navbar */

.navbar ul .nav-item {
    padding: 0px 10px 0px 10px;
}

 .navbar ul .nav-item:last-child {
    padding-left: 60px;
}

.plus-icon-navbar {
    line-height: 1;
    padding: 10px 0 10px 10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.plus-icon-navbar i {
    pointer-events: none;
}

@media only screen and (max-width:1024px) {
    .navbar {
        backdrop-filter: saturate(180%) blur(20px) !important;
        background-color: rgba(34, 34, 34, 0.62) !important;
    }
    .navbar ul .nav-item:last-child {
        padding-left: 0px;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    align-content: center;
    align-items: center;
    padding: 13px 0px 13px 0px !important;
    backdrop-filter: none;
   
}

.nav_blue {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(34, 34, 34, 0.62)
}

.navbar-nav li:hover>.dropdown-menu {
    display: block;
}


.dropdown-menu {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: auto;
}

.dropdwnleft {
    top: 0;
    left: 100%;
    margin-top: -5px;
}

#nav-link {
    color: #FFFFFF;
    font-size: 0.9vw;
    text-transform: uppercase;
    line-height: 20px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.dropdown-item {
    line-height: 20px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9vw;
    font-weight: 400;
    color: #000000;
    padding-bottom: 8px;
    text-shadow: none;
    z-index: 1;
    padding: 10px 20px;
    background-color: #FFFFFF;
}


.dropdown .dropdown-menu li>a:hover {
    padding: 13px 20px;
    background-color: #222222;
    border-radius: 0;
    color: white;
}

@media only screen and (max-width:991px) {

    #navbar .container {
      
        padding-left: 15px;
    }

    #nav-link {
        font-size: 16px !important;
    }
}

#navbar-btn {
    background-color: #ED1C24;
    border-style: solid;
    border-color: #ED1C24;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1vw;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6em;
    -webkit-animation: btnWiggle 2s infinite;
    -moz-animation: btnWiggle 2s infinite;
    -o-animation: btnWiggle 2s infinite;
    animation: btnWiggle 2s infinite;
    padding: 5px;
}

#navbar-btn:hover {
    text-decoration: none;
}

@keyframes btnWiggle {
    0% {
        -webkit-transform: rotate(0deg);
    }

    2% {
        -webkit-transform: rotate(-3deg);
    }

    3.5% {
        -webkit-transform: rotate(3deg);
    }

    5% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

#navbar-btn i {
    font-size: 1.1vw;
    margin-right: 5px;
}


/*home about */
.paragraph1 .paragraph {
    flex: 0 0 50% !important;
    max-width: 50% !important;
}

@media only screen and (max-width:1024px) {
    .shape-2 {
        bottom: 286px !important;
        right: 18% !important;
    }

    .shape-3 {
        bottom: 316px !important;
        right: 108px !important;
    }
}

@media only screen and (max-width:991px) {
    .shape-2 {
        bottom: -140px !important;
        right: 14% !important;
    }

    .shape-3 {
        bottom: -120px !important;
        right: 95px !important;
    }
}

.shape {
    clip-path: circle();
    overflow: hidden;
}

.shape-2 {
    position: absolute;
    bottom: 70px;
    right: 0%;
    width: 255px;
    height: 236px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    opacity: .5;
    transform: translateX(-50%);
    transform-origin: center bottom;
    animation-fill-mode: both;
    animation-name: bounce;
    animation-timing-function: ease-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.shape-3 {
    position: absolute;
    bottom: 80px;
    right: 48px;
    height: 185px;
    width: 185px;
    background-color: var(--moniz-primary, #ed1c24);
    border-radius: 50%;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: banner3Shake;
    animation-name: banner3Shake;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes banner3Shake {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg);
    }

    30% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    60% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg);
        transform: rotate3d(1, 0, 0, 0deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@media only screen and (max-width:768px) {
    .about_section-3 .paragraph {
        padding: 0px;
        font-size: 16px !important;
    }

    .about_section-3 {
        padding: 30px 10px 25px 10px;
        
    }

    .web-design-btn-col {
        margin-bottom: 10px;
    }

    .about-counter-row .counter {
        border: none !important;
    }

    .about_section-2 {
        padding: 0px !important;
    }

    .carousel-h {
        font-size: 25px !important;
    }

    .about-crousal {
        margin-bottom: 20px !important;
    }

    .web-design-btn-col {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .about_section {
        background-color: #222222;
        padding: 8% 0% 5% 0% !important;
    }
}

@media only screen and (max-width:1024px) {
    .about-count-h {
        font-size: 27px !important;
    }

    .web-design-btn span {
        font-size: 16px !important;
    }

    .about-counter-p {
        font-size: 15px !important;
    }

    .about-counter-row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .about_section-2 {
        padding: 3em 4em 0em 4em;
    }
}

@media only screen and (max-width:991px) {
    .about-counter-row .c {
        border: 1px solid #222222 !important;
    }

    .about-counter-row .counter {
        border: none !important;
    }
}

#about-container {
    background-color: #222222;
    overflow: hidden;
}

.about_section {
    background-color: black;
    padding: 100px 0px 100px 0px;
}

.dropdown-item:hover {
    color: white;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    padding: 0;
}

.web-design-btn i {
    font-weight: 900;
    color: #ED1C24;
    width: 1.25em;
    top: 6;
    padding-top: 8px;
    font-size: 20px;
}

.web-design-btn span {
    font-size: 16px;
    line-height: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 12px;
    color: #FFFFFF;
}

.web-design-btn {
    border: 2px solid #222222;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    padding: 15px 30px 15px 30px
}

.dot-cercle {
    color: red;
    font-size: 15x;
}

.about-p {
    font-size: 18px;
    color: #C8C8C8;
    font-weight: normal;
    line-height: 1.2em;
    margin-top: 3px;
}

.about_section-3 .paragraph {
    color: #FFFFFF;
    line-height: 1.6em;
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-crousal {
    color: #ffffff;
}

.carousel-h {
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.5px;
    font-size: 40px;
}

.about-paragraph {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.about-count-h {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.05px;
}

.about-counter-row {
    text-align: center;
    border: 2px solid #222222;
    border-radius: 5px;
}

.about-counter-row .counter {
    border-right: 1px solid #222222;
}

.about-counter-p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
    color: #fff;
}


/* footer */
@media only screen and (max-width:768px) {
    .footer-bottom-part-1 {
        text-align: center !important;
        padding: 10px 0px 10px 0px;
    }

    .footer-images {
        justify-content: center;
    }

    .fotter-bottom-part-img a img {
        height: 40px;
        width: 130px;
        padding-top: 0px !important;
        padding: 5px 2px 0px 2px;
    }

    .fotter-bottom-part-img {
        padding-top: 10px;
    }

    #social-links a i {
        margin-right: 12px !important;
        margin-left: 12px !important;
    }

    #social-links {
        padding-top: 7px !important;
    }

    .Footer {
        padding: 70px 0px 40px 0px !important;
    }

    .term-conditions {
        margin-bottom: 20px !important;
    }

    #fotterh4 {
        font-size: 18px !important;
    }

    .footer-left-lg-4 {
        margin-top: 20px !important;
    }

    .footer1-left-lg-4 a {
        font-size: 16px !important;
    }

    .Footer {
        padding: 3% 0% 1% 0% !important;
    }


}

.term-conditions {
    margin-left: 10px;
    margin-right: 10px;
}

.term-conditions a {
    font-size: 14px;
    line-height: 1.2em;
    font-family: "Josefin Sans", Sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.term-conditions a span {
    color: #E6E6E6;
}

.term-conditions a span:hover {
    color: #ED1C24;
}

.Footer {
    padding: 70px 35px 40px 35px;
}

.footer-left-lg-4 {
    color: #FFFFFF;
    margin-bottom: 20px;
    margin: 0px;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.footer1-left-lg-4 a {
    font-size: 1.4rem;
    font-weight: 800;
    padding-bottom: 7px;
    color: #FFFFFF;
    font-family: "Josefin Sans", Sans-serif;
    line-height: 1.75em;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

.footer1-left-lg-4 a:hover {
    text-decoration: none;
    color: #ED1C24;
    border-bottom: 2px solid #ED1C24;
}

#social-links a i {
    margin-right: calc(100px/2);
    color: #ED1C24;
    font-size: 25px;
    width: 1.25rem;
}

#social-links a i:hover {
    color: #FFFFFF !important;
}

#fotterh4 {
    font-size: 1.7rem;
    line-height: 1.3em;
    font-family: "Montserrat", Sans-serif;
    color: #ED1C24;
    margin-bottom: 10px;
}

.victoria i {
    color: #FFFFFF;
    width: 1.25em;
    top: 6;
    font-size: 20px;
}

.victoria span {
    align-self: center;
    padding-left: 5px;
    color: #E8E8E8;
    text-align: left;
    font-size: 16px;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.Quick-links i {
    width: 1.25rem;
    top: 6;
    font-size: 14px;
    cursor: pointer;
}

.Quick-links span {
    align-self: center;
    text-align: left;
    cursor: pointer;
    font-family: "Josefin Sans", Sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    font-weight: 400;
}

.Quick-links:hover {
    color: #ED1C24;
    text-decoration: none;
}

.Quick-links {
    color: #f1f1f1;

}

.footer-web-design :hover {
    color: #ED1C24;
    text-decoration: none;
}

.footer-web-design i {
    line-height: 1.3em;
    color: #ED1C24;
    margin-bottom: 10px;
}

.footer-web-design {
    padding: 0px 5px 0px 5px;
}

.footer-web-design span {
    align-self: center;
    padding-left: 5px;
    color: #E8E8E8;
    text-align: left;
    font-size: 16px;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.footer-bottom-part {
    padding: 0.5% 35px 0.5%;
    background-color: #0C0C0C;
}

.footer-bottom-part-1 {
    text-align: right;
    color: #E6E6E6;
    font-size: 14px;
    line-height: 1.2em;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 400;
    padding-top: 5%;
}


/* services */

@media only screen and (max-width: 767px) {
    .service-paragraph {
        padding: 0px !important;
    }

    .service-h2 {
        font-size: 26px !important;
        text-align: center;
    }

    .service-btn {
        text-align: center !important;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    .service-paragraph {
        text-align: center;
        font-size: 16px !important;
    }

    .overlay {
        padding: 0px 10px 0px 10px;
    }

    .cards-section-scroll-container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .Our-service {
        padding: 5% 0% 0% 0% !important;
    }
}

.Our-service {
    background-color: #E8E8E8;
    padding: 100px 35px 100px 35px;
}

.viewbtn {
    border: none;
    border-radius: 0;
    outline: none;
    color: white;
    background-color: black;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    border-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    text-align: center;
    justify-content: center;
}

.viewbtn:hover {
    background-color: red;
    color: white;
    box-shadow: none;
}

.service-btn {
    text-align: end;
    padding-top: 40px;
}

.service-h2 {
    font-size: 5.209rem;
    line-height: 1.2em;
    font-weight: 700;
    color: #060709;
    -webkit-text-stroke: 1px black;
}

.service-paragraph {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    padding: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    display: block;
    height: 0;
    transition: .5s ease;
}

.service-card {
    height: 370px;
    margin: 0px 0px 25px 0px;
    background-color: #FFFFFF;
    width: 100%;
}

.service-card:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 1.2rem;
    top: 50%;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    left: 50%;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 20px 20px 20px;
}

.service-title h4 {
    text-align: center;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.overlay-btn {
    font-size: 16px;
    line-height: 28px;
    outline: none;
    box-shadow: none;
    color: white;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    background-color: #00000000;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    width: 50%;
    border-radius: 0px;

}

.overlay-btn:hover {
    background-color: #1E1E22;
    box-shadow: none;
    outline: none;
    color: #fff;

}

.overlay-btn:active {
    color: white;
}


/* works */
@media only screen and (max-width: 1024px) {
    .works {
        height: 280px !important;
    }

    #works {
        padding: 30px 10px 40px 10px !important;
    }
}


@media only screen and (max-width: 767px) {
    #heroTag p {
        font-size: 24px;
    }

    #works .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

#works {
    background-color: #060709;
    padding: 100px 35px 100px 35px;
}

.latest-work {
    color: white;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    font-size: 5.209rem;
    font-family: 'Montserrat', sans-serif;
}

.works {
    background-color: black;
    height: 330px;
    transition: ease-in-out 2s;
    background-position: top;
}

.works.works1 {
    background: url(../src/images/United-Tools-screenshot.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works1:hover {
    filter: none;
}

.works.works2 {
    background: url(../src/images/dal-wesite-screenshot-home-scaled-1.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works2:hover {
    filter: none;
}

.works.works3 {
    background: url(../src/images/Coburns-Rise–screenshot.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works3:hover {
    filter: none;
}

.works.works4 {
    background: url(../src/images/RG-Land\ \(1\).jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works4:hover {
    filter: none;
}

.works.works5 {
    background: url(../src/images/Sunshine-Collectables-screenshot.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works5:hover {
    filter: none;
}

.works.works6 {
    background: url(../src/images/TIC-Group-screenshot.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works6:hover {
    filter: none;
}

.works.works7 {
    background: url(../src/images/Carrabbas-Group-screenshot.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works7:hover {
    filter: none;
}

.works.works8 {
    background: url(../src/images/Darebin-Gas-screenshot.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.works.works8:hover {
    filter: none;
}

.works:hover {
    background-position: bottom;
    text-decoration: none;
}

.works-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1 !important;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 22px !important;
    padding: 20px;
    text-align: center;
    opacity: 1;
    text-transform: uppercase;
    text-decoration: none !important;


}

.ovelay1:hover {
    text-decoration: none;
}

.view-btn {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #ED1C24;
    border-style: solid;
    border-width: 0px;
    border-color: #FFFFFF;
    border-radius: 0px;
    padding: 10px 30px 10px 30px;
    max-width: 100%;
    width: auto;
    text-transform: uppercase;

}

.view-btn:hover {
    color: #FFFFFF;
    animation-name: bob;
    animation-duration: 1.25s;
}

@keyframes bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.view-project-all {
    animation-name: bounceIn;
    animation-duration: 1.25s;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}



/* customer feedback */
@media only screen and (max-width:768px) {
    #Heading2 h3 {
        font-size: 22px !important;
    }

    #Heading2 p {
        font-size: 24px !important;
    }

    .customer-feedback-container {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 20px 0px 0px 0px !important;
    }

    #content {
        font-size: 15px !important;

    }
}

.customer-feedback-container {
    background: #060709;
    padding: 100px 35px 100px 35px;
}

#Heading {
    text-align: center;
    align-items: center;
    color: #fff;
}

#Heading p {
    margin-bottom: 20px;
    color: #C9C9C9;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 16px;
}

#Heading2 p {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
}

#titlebtn {
    text-align: center;
    width: 100%;
    background-color: #ED1C24;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-family: "Montserrat", Sans-serif !important;
    font-weight: 600;
    font-size: 1.333rem;
    padding: 5px 0px 10px 0px !important;
    line-height: 1.2em;
    margin-bottom: 20px;
    font-style: italic;

}

#content {
    color: #ffffff;
    text-decoration: chocolate;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 1.3em;
    text-align: start;
}

#customername {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
}

#customername a {
    color: #ff2d34;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.75em;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.album-img img {
    transition: .4s;
}

.album-title h3 {
    font-size: 16px;
    color: #fff;
}

.album-title {
    transition: .5s;
}

#true-circle {
    color: red;
}


/* service delevery */
@media only screen and (max-width:768px) {
    #service-delivery .service-delivery-p2 {
        font-size: 24px !important;
    }

    #service-delivery {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 15px 10px 0px 10px !important
    }

    #service-delivery p {
        font-size: 16px !important;
    }

    #service-delivery-p {
        padding: 0px !important;
    }

}

#service-delivery {
    background-color: rgb(230, 232, 236);
    padding: 100px 15px 100px 15px;
}

#service-delivery p {
    text-align: center;
    color: #222222;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#service-delivery-p {
    padding: 10px;
}

#Service-delivary-2 {
    padding: 10px;
}

#service-delivery-p .service-delivery-p2 {
    text-align: center;
    color: #222222;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 10px;
}

#service-delivery p i {
    font-weight: 900;
    color: #ED1C24;
    width: 1.25em;
}

#service-delivery h1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    font-size: 43px;
}

.logo {
    width: 70%;
    margin-bottom: 30px;
    filter: grayscale(1);
}

.logo:hover {
    filter: none;
}

.Service-delivary-1 {
    text-align: center;
}


/* mmw-front */
.mmw-row-1 {
    overflow: hidden;
}

.mmw-row-1 .mmw-col-1 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow: hidden;
}

.mmw-shape-2 {
    position: absolute;
    right: -13%;
    bottom: -65px;
    width: 255px;
    height: 236px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    opacity: .5;
    transform: translateX(-50%);
    transform-origin: center bottom;
    animation-fill-mode: both;
    animation-name: bounce;
    animation-timing-function: ease-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.mmw-shape-3 {
    position: absolute;
    bottom: -42px;
    right: -6%;
    height: 185px;
    width: 185px;
    background-color: var(--moniz-primary, #ed1c24);
    border-radius: 50%;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: banner3Shake;
    animation-name: banner3Shake;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes banner3Shake {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg);
    }

    30% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    60% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg);
        transform: rotate3d(1, 0, 0, 0deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@media only screen and (max-width:1024px) {
    .mmw-shape-2 {
        bottom: -60px;
        right: -50px;
    }

    .mmw-shape-3 {
        bottom: -77px;
        right: -18%;
    }

    .project {
        width: 100% !important;
    }
    .Team {
        font-size: 26px !important;
    }
}

@media only screen and (max-width:768px) {
    .project {
        width: 100% !important;
    }

    .front-banner1 {
        padding: 10% 5% 10% 5% !important;
    }
    .front-banner{
        padding: 35px 0px 0px 0px !important; 
    }

    .Teams {
        margin-top: 35px !important;
        margin-bottom: 0px !important;
        padding: 20px 0px 0px 0px !important;
    }
    .project .heading .heading-info1{
        font-size: 16px !important;
    }
    .project .heading p{
        font-size: 24px !important;
    }

    .we-team {
        padding: 0px !important;
    }
}



.front-banner {
    background-image: url("./images/front-banner.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center center;
}

.front-banner1 {
    padding: 100px 35px 100px 35px;
}

.mmw-logos-1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.project {

    background-color: #000000D1;
    overflow: hidden;
}

.project .heading .heading-info1 {
    color: #FFFFFF;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.heading {
    padding: 10%;
}

.project .heading p {
    font-size: 2.5vw;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    line-height: 1.2em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.heading-button .get-quits {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    fill: #060709;
    color: #060709;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0;
    border-color: #FFFFFF;
    border-radius: 0;
    box-shadow: 0px 0px 20px 0px rgb(177 89 105 / 20%);
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.heading-button .get-quits:hover {
    background-color: #ED1C24;
    color: #ffffff;
}

.Teams {
    padding: 60px 0px 15px 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.Team {
    margin-bottom: 20px;
    font-size: 2.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.3em;
    font-family: "Josefin Sans", Sans-serif;
}

.Team1 {
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #FFFFFF;
    text-align: center;
    padding: 0em 4em 0em 4em;
}

@media only screen and (max-width:768px) {
    .Team1 {
        text-align: center;
        padding: 0em 0em 0em 0em;
        font-size: 1.2rem !important;

    }
}


/* about */
.trusted {
    top: 11%;
    left: -37px;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    background: #1E1E22;
    text-align: center;
}

.trusted-1 {
    padding: 30px 40px 30px 40px;
    text-align: center;
}

.trusted-1 span {
    color: #ED1C24;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Josefin Sans", Sans-serif;
}

.trusted-1 .p-800 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

.trusted-1 p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:1024px) {
    .trusted {
        top: 0% !important;
        left: -50px;
    }

    .trusted-1 {
        padding: 20px 40px 10px 40px;
    }

    .trusted-1 .p-800 {
        padding: 0;
        margin: 0;
    }

    .trusted-1 p {
        padding: 0;
        margin: 0;
    }

    .shape-about-1 {
        bottom: -106px;
        right: -40% !important;
    }

    .shape-about-2 {
        bottom: -90px !important;
        right: -264px !important;
    }

    .paragraph1 .paragraph {
        flex: 0 0 70% !important;
        max-width: 70% !important;
    }

}

@media only screen and (max-width:991px) {
    .trusted {
        top: 0% !important;
        left: 100px;
    }

    .trusted-1 {
        padding: 25px 40px 25px 40px;
    }

    .trusted-1 .p-800 {
        padding: 0;
        margin: 0;
    }

    .trusted-1 p {
        padding: 0;
        margin: 0;
    }

    .shape-about-1 {
        bottom: -115px !important;
        right: -50% !important;
    }

    .shape-about-2 {
        bottom: -115px !important;
        right: -268px !important;
    }
}

@media only screen and (max-width:550px) {
    .trusted {
        top: -4% !important;
        left: 0px;
    }

    .trusted-1 {
        padding: 25px 25px 25px 25px;
    }

    .trusted-1 .p-800 {
        padding: 0;
        margin: 0;
        line-height: 1;
    }

    .trusted-1 p {
        padding: 0;
        margin: 0;
    }

    .shape-about-1 {
        bottom: -212px !important;
        right: 11% !important;
    }

    .shape-about-2 {
        bottom: -178px !important;
        right: 88px !important;
    }

    .paragraph1 {
        align-items: flex-end;
        padding-top: 40% !important;
        padding-left: 0px !important;
       
    }

    .paragraph1 .paragraph {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .paragraph h2 {
        font-size: 1.5rem !important;
    }
}

.shape-about-1 {
    position: absolute;
    bottom: -106px;
    right: -110%;
    width: 255px;
    height: 236px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    opacity: .5;
    transform: translateX(-50%);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.shape-about-2 {
    position: absolute;
    bottom: -87px;
    right: -110%;
    height: 185px;
    width: 185px;
    background-color: var(--moniz-primary, #ed1c24);
    border-radius: 50%;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: banner3Shake;
    animation-name: banner3Shake;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes banner3Shake {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg);
    }

    30% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    60% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg);
        transform: rotate3d(1, 0, 0, 0deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@media only screen and (max-width:1024px) {
    .story-ours {
        padding: 40px 0px 0px 0px !important;
    }
    .paragraph1{
       padding-top: 20% !important;
       padding-left: 0px !important;
    }
    .main-heading h2{
        font-size: 3rem !important;
    }
    .our-story{
        font-size: 3rem !important;
    }
    .column1{
        padding-bottom: 6% !important;
     }
}

@media only screen and (max-width:767px) {
    .main-heading h2 {
        font-size: 28px !important;
    }

    .main-heading1 h4 {
        font-size: 18px !important;
    }

    .main-heading2 {
        font-size: 16px !important;
    }

    .our-story {
        font-size: 28px !important;
    }

    .our-story-p {
      
        padding-bottom: 15px;
        font-size: 16px !important;
    }
   
    .paragraph h2 {
        font-size: 1.5rem !important;
    }

    .paragraph1 .paragraph {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .main-about-section {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 10px 10px 20px 10px !important;
    }

    .story-ours {
        margin-top: 20px !important;
        margin-bottom: 0px !important;
        padding: 0px 0px 0px 0px !important;
    }

    .what-first {
        padding: 0px !important;
    }

    .what-first .column {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .paragraph1{
        padding-top: 50% !important;
        padding-left: 0px !important;
     }
    
}

.what-first {
    padding: 3% 0% 3% 0%;
}

.story-ours {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 100px 0px
}

.main-heading1 {
    margin-bottom: 20px;
}

.main-heading {
    margin-bottom: 20px;
}

.main-about-section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0% 4% 0% 4%;
}

.paragraph1 {
    align-items: flex-end;
    padding: 0em 0em 2em 2.8em;
    padding-top: 10%;   

}

.paragraph h1 {
    line-height: 1.2em;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.red-devider-top{
    border-top: 1px solid red;
    width: 8%;
    margin-bottom: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.paragraph h2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
}

.main-heading h2 {
    color: #222222;
    line-height: 1.3em;
    font-weight: bold;
    font-size: 5.209rem;
}

.main-heading1 h4 {
    color: black;
    font-size: 1.777rem;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.main-heading2 {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.our-story {
    font-weight: 600;
    line-height: 1.2em;
    color: #222222;
    font-size: 5.209rem;
    margin-bottom: 20px;
}

.our-story-p {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.vedio-text h2 {
    font-weight: 600;
    line-height: 1.2em;
    font-family: "Montserrat", Sans-serif;
    color: #222222;
    font-size: 3rem;
}

.vedio-text p {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
    object-fit: cover;
}

.vedios-section {
    position: relative;
}

.vedios-section video {
    position: relative;
    z-index: 0;
}

.vedio-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.elementor-background-video-container {
    transition: opacity 1s;
    pointer-events: none;
}

.elementor-background-video-hosted {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    object-fit: cover;
}

.vedio-portfolio {
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 11%);
}

.input:focus {
    outline: none;
}

.autoscroll {
    background-color: black;
    height: 300px;
    transition: ease-in-out 2s;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

.autoscroll2:hover {
    background-position: bottom;
}

/* carousal */
.Carousal-vedio-tag {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media only screen and (max-width:900px) {
    .Carousal-vedio-tag {
        height: 50vh !important;
    }
}

@media only screen and (max-width:450px) {
    .Carousal-vedio-tag {
        height: 70vh !important;
    }
}

@media only screen and (max-width:768px) {
    .Carousal-vedio-tag {
        width: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .what-we-do-top-div {
        padding: 3% 1% 3% 1%;
    }

    .OwlCarousal-about-tag .item h2 {
        padding: 0px 5px 0px 5px;
    }

    .OwlCarousal-about-tag .item a {
        padding: 0px 5px 0px 5px;
        font-size: 15px !important;
    }
}

.OwlCarousal-about-tag .item h2 {
    font-size: 22px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    line-height: 32px;
}

.OwlCarousal-about-tag .item a {
    text-decoration: underline white 1px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
    font-size: 17px;
}

.OwlCarousal-about-tag .item a img:hover {
    opacity: 0.3;
    cursor: pointer;
}

.OwlCarousal-about-tag {
    color: rgb(255, 255, 255);
    position: absolute !important;
    top: 0;
}

/* WhatWeDo */

/* @media only screen and (max-width:768px) {
    .What-we-do-vedio {
        text-align: center;
        display: none;
    }

    .what-we-do-heading h2 {
        font-size: 26px !important;
        padding-bottom: 5% !important;
    }

    .what-we-do-paragraph {
        font-size: 16px !important;
        padding: 0px !important;
    }

    .discreption .container {
        padding-top: 0px !important;
    }

    .What-we-do-main {
        height: 68vh !important;
    }
}

@media only screen and (max-width:1024px) {
    .what-we-do-heading h2 {
        font-size: 3rem !;
    }
    .What-we-do-vedio {
        height: 50vh !important;
    }
}

.What-we-do-vedio {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.50;
}

.discreption {
    position: absolute;
    top: 0;
}

.what-we-do-heading h2 {
    text-align: center;
    font-size: 5.209rem;
    font-weight: 600;
    color: #222222;
    padding-top: 15%;

}

.what-we-do-paragraph {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: #545454;
    font-weight: 400;
    padding: 0% 7% 0% 7%;
}

.What-we-do-main {
    background-image: url('./images/abstract-bg.jpg') 50% 50%;
    background-size: cover;
    margin-bottom: 0;
}

.What-we-do-overlay {
    background-color: #FFFFFF;
    opacity: 0.74;
    position: absolute;
} */

/* privacy-policy-section */
@media only screen and (max-width:768px) {
    .Privacy-policy-title h2 {
        font-size: 25px !important;
    }

    .Privacy-policy p,
    .Privacy-policy p strong {
        font-size: 16px !important;
    }

    .Privacy-policy {
        margin-top: 30px !important;
        margin-bottom: 0px !important;
    }
}

.Privacy-policy {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
}

.Privacy-policy-title {
    text-align: center;
    margin-bottom: 20px;
}

.Privacy-policy-title h2 {
    font-size: 5.209rem;
    font-weight: 600;
    line-height: 1.2em;
    color: #222222;
}

.privay-divider span {
    margin-bottom: 20px;
    border-bottom: 1px solid #545454;
    width: 10%;
}

.privacy-heading {
    text-align: center;
    margin-bottom: 20px;
}

.Privacy-policy p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.privacy-heading p strong {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.we-value-your {
    margin-bottom: 20px;
}

.we-value-your h5 {
    font-size: 1.333rem;
    font-weight: 600;
    color: #222222;
    margin-bottom: 1rem;
}

.we-value-your p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.we-value-your p strong {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}


.we-value-your a:hover {
    color: #FF3366;
    text-decoration: none;
}

.we-value-your a {
    color: #000000;
    line-height: 1.75em;
    font-size: 1.2rem;
}