@media only screen and (max-width:767px) {
   .branding-info{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 0px 0px 0px 0px !important;
   }
   .Graphic-design h3{
    font-size: 28px !important;
   }
   .Graphic-design {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 0px 0px 0px 0px !important;
   }
   .graphic h4{
    font-size: 18px !important;
   }
   .wordplay-identity{
    font-size: 26px !important;
    margin: 0px 15px 20px 0px;
   }
   .Design{
    padding: 30px 0px 30px 0px !important;
   }
   .business h4{
    font-size: 18px !important;
   }
}

.branding-info{
    margin-top: 100px;
    margin-bottom: 100px;
}
.branding-info p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.Graphic-design h3 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3em;
}

.Graphic-design p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.graphic h4 {
    font-size: 1.777rem;
    line-height: 1.4em;
    font-weight: 600;
    color: #222222;
}

.graphic h5 {
    font-size: 1.333rem;
    line-height: 1.5em;
    font-weight: 600;
    color: #222222;
}

.graphic p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.brand-i {
    color: #545454;
    position: relative !important;
    top: 6px;
}

.wordplay-identity {
    font-size: 52px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    line-height: 1.3em;
}

.Design p {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.business h4 {
    font-size: 1.777rem;
    line-height: 1.4em;
    font-weight: 600;
    color: #222222;
}

.business p {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}