@media only screen and (max-width:767px) {
   .branding-info{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
   }
   .branding-info p{
    font-size: 16px !important;
   }
   .Graphic-design h3{
    font-size: 28px !important;
   }
   .Graphic-design {
    margin-top: 20px !important;
    padding: 0px 0px 0px 0px !important;
   }
   .Graphic-design p{
    font-size: 16px !important;
   }
   .graphic h4{
    font-size: 18px !important;
   }
   .graphic p{
    font-size: 16px !important;
   }
   .wordplay-identity{
    font-size: 26px !important;
    margin: 0px 15px 20px 0px;
   }
   .Design{
    padding: 30px 0px 0px 0px !important;
   }
   .Design p{
    font-size: 16px !important;
   }
   .business h4{
    font-size: 18px !important;
   }
   .business p{
    font-size: 16px !important;
   }
   .business{
    margin-bottom: 0px !important;
   }
   /* .brand-wordplay{
    padding: 0px 20px 0px 20px !important;
   } */
}
@media only screen and (max-width:1024px) {
    .branding-top-container-fluid{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .Graphic-design{
        padding: 10% 0% 5% 0% !important;
    }
    .graphic-design-part-container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .brand-wordplay{
        padding: 0px !important;
    }
    .graphic{
        padding: 5% 0% 5% 0% !important;
    }
   
}

.branding-info{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
}
.branding-info p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.Graphic-design h3 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.Graphic-design p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}
.Graphic-design{
    padding-right: 0px ;
    padding-left: 0px ;
}

.graphic h4 {
    font-size: 1.777rem;
    line-height: 1.4em;
    font-weight: 600;
    color: #222222;
    margin-bottom: 20px;
}

.graphic h5 {
    font-size: 1.333rem;
    line-height: 1.5em;
    font-weight: 600;
    color: #222222;
}

.graphic p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.brand-i {
    color: #545454;
    position: relative !important;
    top: 6px;
}



