#casestudy{
    background-color: #060709;
  }
  #heroTag h1 {
    color: white;
    font-size: 5em;
  }
  .casestudy{
    background-color: black;
    height: 300px;
    transition: ease-in-out 2s;
    background-position: top;
  }
  .casestudy.casestudy1{
    background: url(../src/images/United-Tools.jpg);
    background-size: cover;
  }
  .casestudy.casestudy2{
    background: url(../src/images/dal.jpg);
    background-size: cover;
  }
  .casestudy.casestudy3{
    background: url(../src/images/Coburns-Rise.jpg);
    background-size: cover;
  }
  .casestudy.casestudy4{
    background: url(../src/images/RG-Land.jpg);
    background-size: cover;
  }
  .casestudy.casestudy5{
    background: url(../src/images/Sunshine-Collectables.jpg);
    background-size: cover;
  }
  .casestudy.casestudy6{
    background: url(../src/images/TIC-Group.jpg);
    background-size: cover;
  }
  .casestudy.casestudy7{
    background: url(../src/images/Carrabbas-Group.jpg);
    background-size: cover;
  }
  .casestudy.casestudy8{
    background: url(../src/images/Darebin-Gas.jpg);
    background-size: cover;
  }
  
  /* .works.works2{
    background: url(../src/images/Angels-Hair-Extensions-372x1024.jpg);
    background-size: cover;
  
  } */
  .casestudy:hover{
    background-position: bottom;
  }
    
  .overlay2{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    opacity: 1;
    background-size: cover;
  }