.contact-form h3{
    font-weight: 800;
    line-height: 1.3em;
    color: #000000;
    font-size: 41px;
}
.contact-form{
    text-align: left;
    margin-bottom: 20px;
}
.contact-us-i{
    width: 1.25em;
    font-size: 26px;
    top: 6px;
    font-weight: 900;
}
.contact-form-1 a{
    color: #000000;
    line-height: 1.75em;
    font-family:  "Josefin Sans", Sans-serif;
    font-size: 26px;
    font-weight: 800;
}
.contact-form-1 a:hover{
    text-decoration: none;
    color: #FB3F69;
}

.contact-envelope-i{
    width: 1.25em;
    font-size: 32px;
    position: relative !important;
    top: 6px;
}
.contact-envelope-i:hover{
    color: #c36;
}
.contact-us-animations h3{
    font-weight: 800;
    line-height: 1.3em;
    color: #222222;
    font-size: 32px;
}
.Contact-us-submit{
    background-color: #222222;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #7A7A7A;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
    padding: 15px 35px 15px 35px;
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 28px;
    width: 100%;
    border-radius: 0px 0px 0px 0px; 
}
.Contact-us-submit:hover{
    background-color: red;
}
.divider{
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}
.devider-1{
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0% 30% 0% 30%;
}
.sapreter-span{
    color: #000000;
    font-size: 4vw;
    font-weight: 200;
    text-transform: uppercase;
    max-width: 95%;
    font-family: "Josefin Sans", Sans-serif;
}
.divider .sapreter{
    flex: 1;
    height: 1px;
    background-color: black;
}
.contact-column{
    text-align: center;
    margin-bottom: 20px;
}
.contact-column h3{
    color:#FFFFFF;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3em;
   text-transform: capitalize;
}
.contact-us-lottie{
   margin-bottom: 0;
   text-align: center;
}
.contact-us-lottie div svg{
  transform: none !important;
}
.contact-us-lottie div{
    margin: -150px 0px -180px 0px;
}
.ContactUs-col-black{
    background-color:transparent;
    background-image: linear-gradient(180deg,#000000 0%, #303030 100%);
}
.ContactUs-col-left{
    padding: 50px 20px 0px 70px;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.ContactUs-col-white{
    background-color: white;
}
.ContactUs-col-right{
    align-content: flex-start;
    align-items: flex-start;
    padding: 50px 50px 30px 50px;
}

.contact-us-map{
 justify-content: center;
 flex-direction: column;
 display: flex;
 text-align: center;
 vertical-align: middle;

}
.contact-us-map-icon{
    color:#ED1C24;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}
.contact-us-map h5{
    font-family: "Montserrat", Sans-serif;
    font-size: 1.333rem;
    font-weight: 600;
    color: #222222;
}
.contact-us-map p{
    margin-bottom: 10px;
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}
.ContactUs-Social-Media-icons a{
    color: #FFFFFF;
    width: 1.25em;
    font-size: 20px;
    font-weight: 400;
    top: 6;
    cursor: pointer;
    margin: 0px 13px 0px 13px;
}
.ContactUs-Social-Media-icons a:hover{
    color: #ED1C24;
}
.ContactUs-Social-Media-icons{
    padding: 30px 0px 0px 0px;
    text-align: center;
}
.contact-form-input-list{
    align-items: center;
    padding-right:0px ;
}
.contact-form-input-list label{
    cursor: pointer;
    line-height: 1;
    font-family: "Josefin Sans",sans-serif;
    margin-bottom: 0px;
}
.contact-form-input-list input{
    background-color: #ffffff;
    border: 1px solid #818a91;
    color: #373a3c;
    width: 100%;
}
