@media only screen and (max-width:767px) {
    .Customer-Care p{
        font-size: 16px !important;
    }
    
    .input-fields{
        padding: 0px 0px 0px 0px !important;
        margin-bottom: 20px;
    }
    .input-fields .input-fields1{
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 20px !important;
    }
    .CustomerCare-section p{
        font-size: 16px !important;
    }
    .CustomerCare-section{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .why-support{
        font-size: 18px !important;
        line-height: 1.4em !important;
        margin-bottom: 20px;
    }
    .support-higly{
        margin-bottom: 0px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .support-higly{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .brand-i{
        font-size: 16px !important;
    }
}
.customer{
    padding: 100px 0px 80px 0px !important;
   
}
.support-higly{
    margin-top: 80px;
    margin-bottom: 80px;
}
.input-fields{
    padding: 0px 90px 0px 90px;
}
.input-fields1{
    margin-bottom: 20px;
}
.form-span {
    color: #33475b;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-size: 13px;
    line-height: 20px;
    display: block;
    float: none;
    width: auto;
    padding-top: 0;
    margin-bottom: 0px;
}

.submit-btn {
    background: #ED1C24;
    border-color: #ED1C24;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    font-family: helvetica;
    transition: all .15s linear;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 12px 24px;
}
.submit-btn:hover{
    color: #ffffff;
}

.Customer-Care h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    color: #222222;
    margin-bottom: 20px;
}

.Customer-Care p {
    text-align: center;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    align-items: center;
}

.CustomerCare-section p {
    color: #545454;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.CustomerCare-section div h3 {
    font-size: 1.777rem;
    font-weight: 600;
    line-height: 1.3em;
}