.designblog-section{
    background-color: #060709;
    background-image: linear-gradient(130deg, var( #222222 ) 0%, var( #060709 ) 89%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 5% 0% 5%;
    position: relative;
} 
.designblog-overlay{
    background-image: url(./images/Post-BG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.designblog-shape{
    transform: rotate(180deg);
    bottom: -1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.designblog-shape svg{
    width: calc(260% + 1.3px);
    height: 120px;
    transform: translateX(-50%) rotateY(180deg);
    z-index: -1;
    position: relative;
    left: 50%;
}
.designblog-shape svg path{
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.designblog-animation-section{
    max-width: 900px !important;
    min-height: 500px;
}
.seo-and{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.seo-and h1{
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2em;
}
.admin-section .admin span {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
    color: #ffffff;
    padding-left: 5px;
}
.admin-section .admin{
    margin:0px 25px 0px 25px  
}
.admin-section .calendar{
    margin: 0px 25px 0px 25px  
}
.admin-section .calendar span{
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
    color: #ffffff;
    padding-left: 5px;
}
.design-img-section-overlay{
    margin-top: -120px;
    margin-bottom: 0px;
    position: relative;
}
.container-max-width-900{
    max-width:950px !important;
}
.container-max-width-900 .one-1{
    margin-bottom: 20px;
    text-align: center;
}
.container-max-width-900 .two-1{
    margin-bottom: 100px;
}
.see-this-post-section{
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: rgba(159,163,173,0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
    position: relative;
}
.media-section{
    text-align:end;
}
.media-section div{
    display: inline-block;
    height: 4.5em;
    padding: 0% 0% 0% 10%;
    
}
.media-section div span a{
    color: rgba(47,55,89,0.7);;
}
.media-section div span a:hover{
    color: #ED1C24;
}
.share-this-post h2{
    font-family: "Varela Round", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
    color: #ED1C24;
}
.share-this-col{
    padding-left: 0px;
    padding-right: 0px;
}
.sco-importance{
    margin-bottom: 20px;
    text-align: left;
    color: #3d4459;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 400;
    line-height: 1.75em;
    position: relative;
}