.Goggle-pay-per-click p{
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.4em;
}
.Google-pay{
    color: #545454;

}
.Goggle-pay-per-click-1 h3{
    font-weight: 600;
    line-height: 1.3em;
    font-family: "Montserrat", Sans-serif;
    color: #222222;
    font-size: 36px;
}
.Goggle-pay-per-click-1 p{
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.4em;
}
.Goggle-pay-per-click-2 p{
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3em;
}