.Graphices-btn a{
    color: #000000;
    font-family: "Josefin Sans", Sans-serif;
    line-height: 1.75em;
    font-size: 1.25rem;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    transition: color .3s ease;
    text-decoration: none;
    border: none;
    box-shadow: none;
    outline: none;
}