@media only screen and (max-width:767px) {
    .graphic-design-portfolio{
        padding: 0px 20px 0px 20px !important;
        margin-top: 50px !important;
       margin-bottom: 50px !important;
    }
}

button:hover {
    outline: none;
    color: #FB3F69;
}
.graphic-images{
    margin-bottom: 50px;
}

button:focus,
button.active {
    color: #ED1C24 !important;
    font-weight: 700 !important;
}

.graphic-design-portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-section {
    padding: 10px;
}

.btn-section .child {
    text-align: center;
}

.filter-links {
    padding: 0;
    margin: 0;
    outline: 0ch;
}

.filter-links li {
    margin: 0;
    display: inline-block;
}

.filter-links li button {
    padding: 0 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.75em;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: transparent;
    border-style: none;
    box-shadow: none;
}