container {
    max-width: 1200px !important;
}
@media only screen and (max-width:767px) {
    .portfolio-items{
        text-align: center;
    }
}

.main {
    margin-top: 50px;
    margin-bottom: 0px;
}

.ourportfolio {
    padding: 10px;
}

.ourportfolio .ourportfolio-child {
    text-align: center;
    margin-bottom: 20px;
}

.heading-pragraph {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.Portfolio-design {
    align-items: center;
    align-content: center;
    padding: 10px;
}

.Portfolio-design-child {
    margin-bottom: 20px;
    width: 100%;
   margin-right: 5%;
}

.Portfolio-design-child h3 {
    font-size: 2.369rem;
    font-weight: 600;
    line-height: 1.3em;
    color: #222222;
}

.Portfolio-design-child div {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.Portfolio-design img {
    vertical-align: middle;
    text-align: center;
}

.View-portfolio {
    background-color: #222222;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #7A7A7A;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
    padding: 15px 35px 15px 35px;
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 28px;
    border-radius: 0px 0px 0px 0px;
}

.View-portfolio:hover {
    background-color: red;
}
.portfolio-items{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2% 0% 2% 0%;
}









