@media only screen and (max-width:767px) {

    .Portfolio-design-child h3 {
        font-size: 28px !important;
    }

    .Portfolio-design-child {
        margin: 5% 0% 0% 0% !important;
    }

    .port-col {
        padding: 0px !important;
    }

    .Portfolio-design-child div {
        font-size: 16px !important;
    }

    .img-responsive {
        max-width: 100% !important;
        height: auto !important;
    }

    .Portfolio-design-child {
        padding: 0px !important;
    }

    .main {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .ourportfolio .ourportfolio-child {
        text-align: center !important;
    }
    .Portfolio-design-child div,.heading-pragraph {
       font-size: 16px !important;
    }
    .portfolio-items{
        padding: 0% 3% 0% 3% !important
    }
}


.main {
    margin-top: 50px;
    margin-bottom: 0px;
}

.ourportfolio {
    margin-top: 50px;
    margin-bottom: 0px;
}

.ourportfolio .ourportfolio-child {
    padding: 10px;
    text-align: left;
}

.heading-pragraph {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.Portfolio-design {
    align-items: center;
    align-content: center;
    padding: 10px;
}

.Portfolio-design-child {
    margin: 0% 5% 0% 0%;
    padding: 10px;
    align-content: center;
    align-items: center;
}

.Portfolio-design-child h3 {
    font-size: 2.369rem;
    font-weight: 600;
    line-height: 1.3em;
    color: #222222;
    margin-bottom: 20px;
}

.Portfolio-design-child div {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.Portfolio-design img {
    vertical-align: middle;
    text-align: center;
}

.View-portfolio {
    background-color: #222222;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #7A7A7A;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
    padding: 15px 35px 15px 35px;
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 28px;
    border-radius: 0px 0px 0px 0px;
}

.View-portfolio:hover {
    background-color: red;
}
.View-portfolio:visited{
    color: #FFFFFF;
    fill: #FFFFFF;
}

.portfolio-items {
    margin-top: 50px;
    margin-bottom: 0px;
}