 @media only screen and (max-width:767px) {
 .img-container img{
  height: 300px !important;
  background-position: center top !important;
  background-size: cover !important;
 }
 .filter-links li button{
  font-size: 16px !important;
 }
}
.img-container img{
 height: 250px;
 width: 100%;
}
.img-container{
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 11%);
}
.photography-images{
  margin-bottom: 50px;
}
button:hover{
    outline: none;
    color: #FB3F69;
  }
  button:focus,button.active{
    color: #ED1C24 !important;
    font-weight: 700 !important;
  }
  .photography-portfolio{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .btn-section{
   padding: 10px;
  }
  .btn-section .child{
    text-align: center;
  }
  .filter-links{
    padding: 0;
    margin: 0; 
    outline: 0ch;
  }
  .filter-links li{
    margin: 0; display: inline-block;
  }
  .filter-links li button{
    padding: 0 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.75em;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: transparent;
    border-style: none;
    box-shadow: none;
  } 
  /* .container {
    padding: 80px 0;
  }
  .content {
    position: relative;
  }
  .screen {
    display: block;
    width: 300px;
    height: 350px;
    overflow: hidden;
    position: relative;
    border: 2px solid #b3b3b3;
    border-radius: 1px;
    margin: 0 auto;
  }
  .screen img {
    bottom: -1210px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 11s;
  }
  .screen:hover img {
    bottom: 0;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
  } */