@media only screen and (max-width:767px) {
    .PhotoGraphy p,.VedioGraphy p{
        font-size: 16px !important;
    }
}
.PhotoGraphy p{
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}
.VedioGraphy p{
    color: #FFFFFF;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}