@media only screen and (max-width:820px) {
  
    .photovedio{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 30px 15px 30px 15px !important;
    } 

}
@media only screen and (max-width:767px) {
    .PhotoGraphy p,
    .VedioGraphy p {
        font-size: 16px !important;
    }
    .photovedio .container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
.photovedio{
    margin-top: 50px;
    margin-bottom: 50px;
}

.PhotoGraphy p {
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}

.VedioGraphy p {
    color: #FFFFFF;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}