@media only screen and (max-width:1024px) {
    .Popup-column h3{
        font-size: 28px !important;
    }
    .popup-icon-section{
      padding: 0px !important;
    }
    .Popup-column h3{
        font-size: 22px !important;
    }
    .PopupUs-col-left{
        padding: 30px 20px 30px 20px !important;
    }
    .Popup-form  h3{
        font-size: 22px !important;
    }
    .popup-form h3{
        font-size: 22px !important;
    }
    .Popup-col-right{
        padding: 50px 0px 30px 0px !important;
    }
    .Popup-form-1 a{
        font-size: 16px !important;
    }
    /* .Popup-form-input-list{
        padding-right:0px !important ;
        padding-left: 0px !important;
    } */
    .Popup-us-submit{
        width: 100% !important;
    }
}
@media only screen and (max-width:767px) {
    .Popup-col-black{
        display: none !important;
    }
    .Popup-us-submit{
        width: 50% !important;
    }
}

.popup {
    background-color: #222222;
}
.popup1{
  align-items: center;
  align-content: center;
}

.Popup-col-black {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}

.Popup-col-white {
    background-color: #FFFFFF;
}

.Popup-col-left {
    align-content: center;
    align-items: center;

}

.Popup-column {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 50px 50px 50px;
}

.Popup-column h3 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3em;
    text-transform: capitalize;
}

.popup-icon-section {
    padding: 30px 50px 30px 50px
}

.compass span i {
    font-size: 80px;
    color: #FFFFFF;
}

.desktop span i {
    font-size: 80px;
    color: #FFFFFF;
}

.compass {
    margin-bottom: 15px;
}

.desktop {
    margin-bottom: 15px;
}

.desktop-title h3 span {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.3em;
}

.compass-title h3 span {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.3em;
}

.Popup-Social-Media-icons a {
    color: #FFFFFF;
    width: 1.25em;
    font-size: 25px;
    font-weight: 400;
    top: 6;
    cursor: pointer;
    margin: 0px 13px 0px 13px;
}

.Popup-Social-Media-icons {
    padding: 30px 70px 50px 70px;
    text-align: center;
}
.Popup-col-right{
    align-content: flex-start;
    align-items: flex-start;
    padding: 50px 50px 30px 50px;
}
.Popup-form h3{
    font-weight: 800;
    line-height: 1.3em;
    color: #000000;
    font-size: 38px;
}
.popup-form h3{
    font-size: 38px;
    font-weight: 800;
    line-height: 1.3em;
    color: #000000;
}
.Popup-form{
    text-align: left;
    margin-bottom: 20px;
}
.Popup-us-i{
    width: 1.25em;
    font-size: 26px;
    top: 6px;
    font-weight: 900;
}
.Popup-form-1 a{
    color: #000000;
    line-height: 1.75em;
    font-family:  "Josefin Sans", Sans-serif;
    font-size: 26px;
    font-weight: 800;
}
.Popup-form-1 a:hover{
    text-decoration: none;
    color: #FB3F69;
}

.Popup-envelope-i{
    width: 1.25em;
    font-size: 32px;
    position: relative !important;
    top: 6px;
}
.Popup-envelope-i:hover{
    color: #c36;
}
.Popup-us-animations h3{
    font-weight: 800;
    line-height: 1.3em;
    color: #222222;
    font-size: 32px;
}
.Popup-us-submit{
    background-color: #222222;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #7A7A7A;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
    padding: 15px 35px 15px 35px;
    font-family: "Poppins", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 28px;
    width: 100%;
    border-radius: 0px 0px 0px 0px; 
}
.Popup-us-submit:hover{
    background-color: #ED1C24;
}

.Popup-column h3{
    color:#FFFFFF;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3em;
   text-transform: capitalize;
}
.PopupUs-col-black{
    background-color:transparent;
    background-image: linear-gradient(180deg,#000000 0%, #303030 100%);
}
.PopupUs-col-left{
    padding: 50px 20px 0px 70px;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.PopupUs-col-white{
    background-color: #FFFFFF;
}
.PopupUs-col-right{
    align-content: flex-start;
    align-items: flex-start;
    padding: 50px 50px 30px 50px;
}

.Popup-us-map{
 justify-content: center;
 flex-direction: column;
 display: flex;
 text-align: center;
 vertical-align: middle;

}
.Popup-us-map-icon{
    color:#ED1C24;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}
.Popup-us-map h5{
    font-family: "Montserrat", Sans-serif;
    font-size: 1.333rem;
    font-weight: 600;
    color: #222222;
}
.Popup-us-map p{
    margin-bottom: 10px;
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5em;
}
.PopupUs-Social-Media-icons a{
    color: #FFFFFF;
    width: 1.25em;
    font-size: 25px;
    font-weight: 400;
    top: 6;
    cursor: pointer;
    margin: 0px 13px 0px 13px;
}
.Popup-Social-Media-icons a:hover{
    color: #ED1C24;
}
.PopupUs-Social-Media-icons{
    padding: 30px 0px 0px 0px;
    text-align: center;
}
.Popup-form-input-list{
    align-items: center;
    padding-right:0px ;
}
.Popup-form-input-list label{
    cursor: pointer;
    line-height: 1;
    font-family: "Josefin Sans",sans-serif;
    margin-bottom: 0px;
}
.Popup-form-input-list input{
    background-color: #ffffff;
    border: 1px solid #818a91;
    color: #373a3c;
    width: 100%;
}

