.social-media-marketing p{
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.5em;
}
.Social-marketing{
    color: #545454;
}
.social-media-marketing-1 h3{
    font-weight: 600;
    line-height: 1.3em;
    font-family: "Montserrat", Sans-serif;
    color: #222222;
    font-size: 36px;
}
.social-media-marketing-1 p{
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1em;
}
.social-media-marketing-2 p{
    color: #545454;
    font-family: "Josefin Sans", Sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1em;
}