@media only screen and (max-width:767px) {
  .web-design-portfolio{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 20px 15px 20px 15px !important;
  }
  .filter-links li button{
    font-size: 16px !important;
  }
}

button:hover{
  outline: none;
  color: #FB3F69;
}
button:focus,button.active{
  color: #ED1C24 !important;
  font-weight: 700 !important;
}
.abc {
  height: 300px;
  overflow: scroll;
}
.web-design-portfolio{
  margin-top: 100px;
  margin-bottom: 100px;
}
.btn-section{
 padding: 10px;
}
.btn-section .child{
  text-align: center;
}
.filter-links{
  padding: 0;
  margin: 0; 
  outline: 0ch;
}
.filter-links li{
  margin: 0; display: inline-block;
}
.filter-links li button{
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.75em;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: transparent;
  border-style: none;
  box-shadow: none;
}
.abc img{
  width: 100%;
  text-align: center;
}
.overlay1 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  opacity: 1;
}
