 @media only screen and (max-width:767px) {
  .web-design-portfolio {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 20px 15px 20px 15px !important;
  }
}

button:hover {
  outline: none;
  color: #FB3F69;
}

button:focus,
button.active {
  color: #ED1C24 !important;
  font-weight: 700 !important;
}

.abc {
  height: 300px;
  overflow: hidden;
}

.abc:hover {
  background-position: bottom;
}

.web-design-portfolio {
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-section {
  padding: 10px;
}

.btn-section .child {
  text-align: center;
}

.filter-links {
  padding: 0;
  margin: 0;
  outline: 0ch;
}

.filter-links li {
  margin: 0;
  display: inline-block;
}

.filter-links li button {
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.75em;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: transparent;
  border-style: none;
  box-shadow: none;
}


/* .screen {
  width: 300px;
  height: 300px; 
  position: relative;
  overflow: hidden;
  background-position: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.screen img {
  position: absolute;
  width: inherit;
  transition: transform 1s ease-in-out 0.90s;
}
.screen:hover img {
  transform: translateY(-50%);
}
 */
 .image-wrap {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 50px auto;
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 1s ease-in-out;
}
.image-wrap:hover img {
  object-position: bottom center;
}
